* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: rgb(177, 226, 0);
  color: rgb(177, 226, 0);
  margin-bottom: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: rgb(177, 226, 0);
  text-decoration: none;
}

nav {
  background-color: rgb(177, 226, 0);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);  
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}

nav h2 {
  font-size: 20px;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav li:first-child {
  margin-right: auto;
} 

.nav-link.active {
  opacity: 0.3;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  z-index: 999; 
  background-color: rgb(29, 29, 29);
  /* backdrop-filter: blur(10px); */
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
} 

.sidebar li {
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  margin: 25px;
  margin-left: 50px;
}

.sidebar a {
  width: 100%;
  color: #b1e200;
}

.menu-button {
  display: none;
}

.container {
  background-color: rgb(29, 29, 29);
  margin-top: 46px;
  padding: 30px 200px;
}

.profile-content {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  font-weight: 500;
  align-items: center;
  margin-bottom: 10px;
} 

.profile-content img {
  width: 30px;
  border-radius: 100%;
  vertical-align: top;
}

.content-head h4:hover {
  color: rgb(136, 173, 0);
}

.content-news {
  padding: 100px;
}

.content-news h2 {
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 25px;
}

.content-news p {
  font-size: 18px;
  line-height: 25px;
  font-weight: lighter;
  /* text-indent: 30px; */
  width: 100%;
}

.news-img {
  width: 100%;
  height: 430px;
}

.social-news {
  border: 1px solid  #b1e200;
  padding: 15px;
  border-left: none;
  border-right: none;
  margin-top: 20px;
  margin-bottom: 10px;
} 

.social-news img {
  margin-right: 10px;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;    
}

.comments img {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  cursor: pointer;
}

/* .comments img {
  width: 20px;
  height: 20px;
  background-color: red;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 0;
} */

.left-comment-flex {
  display: flex;
  gap: 20px;
}

.recent-posts {
  background-color: rgb(29, 29, 29);
  padding: 10px 200px 60px 200px;
  margin-top: -50px;
}

.recent-post-header {
  display: flex;
  justify-content: space-between;
}

.recent-post-header .view-all {
  font-size: 15px;
}

.recent-post-header .view-all:hover {
  color: rgb(136, 173, 0);
}

.recent-post-flex {
  display: flex;
  gap: 40px;
}

.recent-posts p {
  font-size: 19px;
  margin-bottom: 25px;
}

.more-post img {
  width: 280px;
  height: 170px;
}

.more-post h3 {
  padding: 20px;
  width: 250px;
  /* line-height: 30px; */
}

.more-post h3:hover {
  color: rgb(136, 173, 0);
}

.border-div {
  border-bottom: 0.2px solid rgb(77, 99, 0);
  width:250px; 
  margin-bottom: 8px;
  margin-left: 15px; 
}

.comments {
  display: flex;
  gap: 120px;
  padding: 0 15px;
  align-items: center;  
}

.left-comment img {
  width: 20px;
  height: 20px;
}

.action.like .like-heart {
  display: inline-block;
  color: #f60404;
}

.action.like .unlike-heart {
  display: none;
}

.action .like-heart {
  display: none;
} 

.main-content {
  margin: 0 auto;
  width: 50%;
}

.like-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

/* FOOTER STYLING */
.footer-div {
  margin-top: 10px;
  background-color: rgb(29, 29, 29);
  color: rgb(177, 226, 0);
  padding: 50px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-div ul {
  list-style: none;
  padding: 15px;
  line-height: 35px;
  font-size: 18px;
}

.footer-div a {
  text-decoration: none;
  color: rgb(177, 226, 0);
}

.left-footer-flex .social-container{
  margin: 30px 11px;
}

.right-footer-flex h2 {
  padding-bottom: 10px;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
}

.right-footer-flex {
  padding: 10px;
  
}

.right-footer-flex form {
  font-size: 18px;
}

.right-footer-flex input{
  margin-bottom: 10px;
}

.right-footer-flex .form-email {
  background-color: rgb(51, 53, 27);
  border: 1px solid rgb(177, 226, 0);
  padding: 10px;
  width: 480px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 20px; 
  color: #b1e200; 
  font-size: 18px;
}

.right-footer-flex .form-email:hover {
  background-color: rgb(68, 71, 36);
  padding: 10px;
}


.submit-form {
  background-color: rgb(29, 29, 29);
  border: 3px solid rgb(177, 226, 0);
  padding: 13px;
  width: 510px;
  border-radius: 30px;
  color: rgb(177, 226, 0);
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.9;
}

.submit-form:hover {
  background-color: rgb(177, 226, 0);
  color: black;
  font-size: 20px;
}

.footer-logo {
  font-size: 115px;
  text-align: center;
}

/* MEDIA SCREEN */

@media(max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .sidebar {
    width: 100%;
  }

  .nav-link.active {
    opacity: 0.4;
  }

  html, body {
    overflow-x: hidden;
  }

  .container {
    width: 100%;
    padding: 0px;
  }

  .content-head h4 {
    background: #96b428;
    color: black;
    padding: 15px 30px;
    font-weight: lighter;
  }

  .content-news {
    padding: 30px;
    width: 100%;
  }

  .content-news h2 {
    width: 78%;
    font-size: 28px;
    line-height: 28px;
  }

  .content-news p {
    width: 90%;   
  }

  .news-img {
    width: 87%;
    height: 40vh;
  }

  .social-news {
    width: 80%;
    margin-bottom: 15px;
  }

  .comment {
    width: 85%;
    margin-bottom: 50px;
  }

  .left-comment-flex {
    display: flex;
    gap: 20px;
  }

  .recent-posts {
    padding: 30px;
  }

  .recent-post-flex {
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    scrollbar-width: none;
  }



  .footer-flex {
    flex-direction: column;
    justify-content: space-between;
  }

  .right-footer-flex,
  .left-footer-flex {
    width: 85%;
  }

  .left-footer-flex ul,
  .list,
  .social-container{
    margin-bottom: -25px;
    font-weight: 500;

  }

  .footer-flex li {
    font-size: 17px;
  }

  .footer-flex h2 {
    font-size: 32px;
  }

  .submit-form,
  .right-footer-flex .form-email  {
    width: 300px;
    margin-bottom: 0;
  }

  .footer-logo {
    font-size: 20px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 5px;
  }
} 

@media(max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
